@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* SCROLL SNAP */

html, body {
    margin: 0;
    height: 100vh;
    scroll-snap-type: y mandatory;
    background-color: #131316;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* END */

#intropage {
    display: grid;
    place-items: center;
    align-content: center;
    height: 100vh;
    background-color: #131316;
}

.arrow {
    animation: fade 1.4s infinite alternate;
}

@keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.main {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),transparent), url(images/photo1.PNG);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Navbar */

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 8%;
}

.logo {
    width: 120px;
    cursor: pointer;
}

nav ul {
    font-family: 'Barlow', sans-serif;
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: white;
    font-size: large;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    background: white;
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 80%;
}

/* Navbar */

/* Body text */

.title {
    font-family: 'roboto condensed', sans-serif;
    position: absolute;
    bottom: 8%;
    padding: 5px 8%;
}

.title p {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.row a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 1px solid white;
}

.introduction {
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 17px;
    position: absolute;
    display: flex-end;
    justify-content: flex-end;
    width: 550px;
    bottom: 11%;
    right: 9%;
    line-height: 30px;
    text-align: right;
}

.title h1 {
    color: transparent;
    font-size: 160px;
    line-height: 160px;
    margin-left: -7px;
    -webkit-text-stroke: 1px white;
    background: url(images/back2.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
}

@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}

/* Body text */

html::-webkit-scrollbar {
    display: none;
  }